{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4 class="mt-4">Matrículas abertas! Custo R$ 1000,00</h4>
				<script class="mt-4" src="https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js"
data-preference-id="168687691-53117bdd-0af9-46fe-a272-86a84b4b34ad" data-source="button">
</script>
				<h4 class="mt-4">Duvidas deixe seu contato</h4>
				<!-- Begin Mailchimp Signup Form + getbootstrap.com/docs/5.0/forms/layout/#auto-sizing-->
				<form action="https://gmail.us6.list-manage.com/subscribe/post?u=ae622709eabf1ed01afc7b67b&amp;id=a2318f1b16"
					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
					  class="validate" target="_blank" novalidate>
  					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">Email</label>
							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
								   placeholder="exemplo@email.com">
						</div>
						<div class="col-auto">
							<label class="sr-only" for="mce-FNAME">Email</label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-NAME"
								   placeholder="Sue nome aqui">
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    						<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_ae622709eabf1ed01afc7b67b_a2318f1b16" tabindex="-1" value="">
							</div>
						<div class="col-auto">
							<input type="submit" value="Salvar" name="subscribe"
								   id="mc-embedded-subscribe" class="btm btm-primary"
						</div>
					</div>
  				</form>

				<!--End mc_embed_signup + getbootstrap.com/docs/5.0/forms/layout/#auto-sizing-->

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					Mais detalhes sobre o instrutor
				</h5>
				<div class="card-body">
					<p class="card-text">
						<img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto Luciano Ramalho"
							 class="img-thumbnail float-left mr-3"/>
						Ramalho é sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e autor do Livro
						<a href="http://shop.oreilly.com/product/0636920032519.do" target="_bank" >Python Fluent</a>.
						Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
						Liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros, usando Python desde 1998.
						Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
						Globo.com e Itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a
						criar a Associação Python Brasil e foi seu presidente. É membro da Python Software Foundation e
						fundador do Garoa Hacker Clube, o primeiro hackerspace do Brasil.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}